.case-words {
    min-height: 927px;
    background: #e5e5e5;
}
.hidden-admin-page-words-wrapper {
    display: none;
}
.active-link {
    text-decoration: underline;
}

.admin-page-words-wrapper {
    min-height: 1024px;
    width: 100%;
    position: absolute;
    top: 0;
}
.case {
    min-height: 927px;
    background: #e5e5e5;
}
.admin-page-header {
    width: 100%;
    height: 97px;
    background: #00bf82;
    display: flex;
    align-items: center;
}

.admin-page-link-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
}

.admin-page-wrapper-link {
    width: 241px;
    height: 61px;
    background: #00bf82;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.admin-page-link-item:hover {
    font-size: 30px;
}

.admin-page-wrapper-link:last-child {
    position: absolute;
    right: 0;
}

@media (max-width: 1400px) {
    .case,
    .case-words {
        min-height: 1287px;
    }
}
@media (max-width: 700px) {
    .case,
    .case-words {
        min-height: 2567px;
    }
}
