$COLOR_BURGER: #0f0049;
$GRADIENT: linear-gradient(180deg, #0099ae, #00bf82 50%, #ffffff 0, #ffffff);
$GRADIENT_MENU: linear-gradient(180deg, #0099ae 0%, #00bf82 100%);
$GRADIENT_PLAY: linear-gradient(180deg, #fd6a63, #feb46b 50%, #ffffff 0, #ffffff);
$COLOR_BTN: #ffffff;
$MENU_PLAY: linear-gradient(180deg, #fd6a63, #feb46b 100%, #ffffff 0, #ffffff);
$WHITE_COLOR: #fff;
$BORDER_COLOR: linear-gradient(to left, #38495a, #a2abb3, #38495a);
$GITHUB_COLOR: #cbd5de;
