@import '../../constants/constants.scss';
.wrapper-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    background: $GRADIENT_MENU;
    padding-top: 150px;
    padding-left: 60px;
    transform: translateX(-100%);
    transition: 0.4s all linear;
    z-index: 3;
    cursor: pointer;
}

.header-item {
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: $COLOR_BTN;
    background: transparent;
    border: none;
    margin-bottom: 15px;
    text-decoration: none;
}

.close-menu-btn {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 35px;
    left: 45px;
    z-index: 11;
}

.close-menu-btn__closeline {
    top: 50%;
    position: absolute;
    display: block;
    width: 50px;
    height: 5px;
    background: $COLOR_BURGER;
    border-radius: 3px;
}

.close-menu-btn__closeline:first-child {
    transform: matrix(0.71, 0.7, -0.71, 0.71, 0, 0);
}

.close-menu-btn__closeline:last-child {
    transform: matrix(0.71, -0.7, 0.71, 0.71, 0, 0);
}

.header--nav__active {
    transform: translateX(0);
}

.activeNow {
    text-shadow: 0px 4px 4px rgb(0 0 0 / 100%);
    text-decoration: underline;
}

.cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 435px;
}

.hidden {
    display: none;
}

a img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    vertical-align: middle;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}

.button-login {
    width: 248px;
    height: 60px;
    border: 2px solid #ffffff;
    background: linear-gradient(180deg, #0099ae 0%, #00bf82 100%);
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    // position: absolute;
    // bottom: 12px;
}
.button-login:hover {
    background: #636d6a;
}
