.card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
    padding-top: 20px;
    margin: 0 auto;
    perspective: 1000;
}

.word-card {
    position: relative;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    width: 300px;
    height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 25px;
    cursor: pointer;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.word-card:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 40%);
}

.back,
.front {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.turn-over {
    transform: rotateY(180deg);
}

.back {
    transform: rotateY(180deg);
}

.back,
.front,
.rotate {
    backface-visibility: hidden;
}

.rotate {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../../assets//img/rotate.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center 15px;
    bottom: 5px;
    right: 5px;
    transition: 0.3s;
    // filter: grayscale(12%);
}

.card-header {
    margin-top: 200px;
    padding: 0 15px;
    font-family: 'Roboto';
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    width: 100%;
    pointer-events: none;
    background: #fff;
    color: #212529;
}

.hidden {
    display: none;
}

.card-cover {
    background-size: cover;
    background-position: 50%;
}

.container-card {
    display: block;
    margin: 32px 0 0 0;
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
}
